{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <title>Sign Up</title>
</head>
<body>
    <div class="row res">
        <div class="fb-form res">
            <div class="card">
                <h1>LangBuddy</h1>
                <p>Your Personal English Language Tutor</p>
            </div>
            <form method="POST">
                {% csrf_token %}
                {{ form.username }}
                {{ form.password1 }}
                {{ form.password2 }}
                <div class="fb-submit">
                    <button type="submit" class="login">Sign Up</button>
                </div>
                <br><hr>
                <small>Aleady have an account? Login below.</small>
                <div class="button">
                    <a href="{% url 'login' %}">Login</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>